/*
colors used:
#361999 PURPLE background
#78FFF1 link frames
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #361999;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #FFFFFF;
}

h1, h2, h3, h4
{
  line-height: 1.2;
}
h1 {
  font-size: 2.75em;
  font-weight: 350;
}

h2 {
  font-size: 2.2em;
  font-weight: 325;
}

h3 {
  font-size: 1.6em;
  font-weight: 315;
}
h4 {
  font-size: 1.3em;
  font-weight: 300;
}

img {
  width: 100%;
}

.logo {
  max-width: 100px;
}

header {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.71);
-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.71);
box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.71);
      position: fixed;
      width: 100%;
    display: inline-block;
  background-color: #361999;
  padding: 10px 0 4px;
  margin: 0px;
border-bottom: 3px solid #4a4a4a;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

nav > ul > li > a:visited {
  padding: 0 15px;
  display: inline-block;
  width: 100%
  text-transform: uppercase;
  font-weight: 700;
  color: #78FFF1;
}


nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navtoggle li:not(:last-child) {
  display: none;
}
#contact {
padding: 0 15px;
text-align: center;
margin: 0 auto;
}
#work h2, h3 {
  text-align: center;
}
#hero {
  background-color: #361999;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}
#hero span {
  display: block;
}
}
#hero h1 {
  text-align: center; /* Centers text */
}
.container {
  padding: 0 15px;
}
.container {
  max-width: 1200px;
margin-left: auto;
margin-right: auto;
}
.main {
padding-top: 100px;
}
.social {
  text-align: center;
}
.social a {
display: inline-block;
margin: 0 5px;
}

.social svg {
  width: 50px;
  height: auto;
}
.copyright {
  text-align: center;
}
.mypicture {
display: block;
max-width: 350px;
margin: 0 auto;
}
a{
  color: #78FFF1;
  text-decoration: underline;
}
a:hover
a:focus {
  color: #3EB7AA;
  text-decoration: underline;
}

.button:hover {
  opacity: 0.9; /* Reduces the opacity of the button to 90% */
  color: #FFFFFF;
    background-color: #361999;
  text-decoration: none;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #361999;
  color: #78FFF1; /* needed to override the default link color */
  font-weight: 400;
  padding: 12px;
  border-radius: 2px;
  border-bottom: 1px solid #78FFF1; /* width of the border, type, color */
  border-top: 1px solid #78FFF1;
  border-left: 1px solid #78FFF1;
  border-right: 1px solid #78FFF1;
  transition: 0.2s opacity;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.button {
  margin: 20px;
}

.button:hover {
  opacity: 0.8;
}

.centered-buttons {
text-align: center;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
header {
  text-align: unset;
  padding: 20px 0 13px;
}

nav > ul > li {
  display: inline-block;
  padding: 0 15px;
}

nav > ul {
  margin: 1em 0;
}

nav {
  width: auto;
  float:right;
  margin-top: 4px;
}

.navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

[class*="col-"] {
  float: left;
  padding: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33%;}
.col-md-5 {width: 41.66%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 100%;}
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;}
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}



/*animation*/

.berlin-illustration {
  width: 100%;
max-width: 100%;
height: auto;
}
@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
