/* Layout styling */
#work h2, h3 {
  text-align: center;
}
#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
nav > ul > li > a:visited {
  padding: 0 15px;
  display: inline-block;
  width: 100%
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
nav > ul > li {
  display: inline-block;
  padding: 0 15px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}
.logo {
  max-width: 200px;
}
#hero h1 {
  text-align: center; /* Centers text */
}
.container {
  padding: 0 15px;
}
img {
  width: 100%;
}
body {
  background-color: #EFEFEF;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}


h1, h2, h3, h4
{
  line-height: 1.2;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.2em;
  font-weight: 600;
}

h3 {
  font-size: 1.6em;
  font-weight: 500;
}
h4 {
  font-size: 1.3em;
  font-weight: 400;
}
main {
  padding-top: 180px;
}
header {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.71);
-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.71);
box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.71);
    text-align: center;
      position: fixed;
      width: 100%;
    display: inline-block;
  background-color: #ffe4c4;
  padding: 5px;
  margin: 0px;
border-bottom: 3px solid #4a4a4a;
}

a{
  color: #C31616;
  text-decoration: underline;
}
a:hover
a:focus {
  color: #DE7171;
  text-decoration: underline;
}

.button:hover {
  opacity: 0.9; /* Reduces the opacity of the button to 90% */
  color: #3C6EDE;
    background-color: #ffffff;
  text-decoration: none;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #3C6EDE;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 12px;
  border-radius: 2px;
  border-bottom: 2px solid #1E56D5; /* width of the border, type, color */
  transition: 0.2s opacity;
}
